@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

/* アプリ全設定 */
body {
  /*background-color: #ECF0F1;*/
  background-image: url(../img/bar_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
  transition: scale(1.5);
}

h1{
  font-family: 'Covered By Your Grace', cursive;
}

.navbar-inverse {
  opacity: 0.7;
  background-color: #330033;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-brand > h1 {
  margin-top: 0;
  color: white;
  font-weight: bold;
}

.panel {
  border-radius: 0;
}

.btn-default{
  color: #ffffff;
  border-color: #ffffff;
}

.btn-default:hover{
  color: #ffffff;
  border-color: #330033;
  background-color: #330033;
  transition-duration: 1s;
}
.list-group-item{
  background-color: rgba(255,255,255,0.7);
  border: 1px solid #ffffff;
}

.container{
  position: relative;
}

footer {
  color: white;
  text-align: center;
}


.floating {
  background-color: transparent;
}


/* アニメーション */
.animation-container {
  animation: zoomin 1s;
  animation-iteration-count: 1;
  -webkit-animation: zoomin 1s; /* Safari & Chrome */
  -webkit-animation-iteration-count: 1;
}
@keyframes zoomin {
  0%   { transform: scale(0); }
  100%  { transform: scale(1); }
}
@-webkit-keyframes zoomin { /* Safari & Chrome */
  0%   { -webkit-transform: scale(0); }
  100% { -webkit-transform: scale(1); }
}
